@using Core.DomainModel.Enums
@model List<Presentation.Web.ViewModels.MatchViewModel>

<!DOCTYPE html>
<table class="table">
    <tr>
        <th>#</th>
        <th>Start time</th>
        <th>Duration time</th>
        <th>Team red</th>
        <th>Team blue</th>
        <th>Score</th>
        <th>Score</th>
    </tr>

    @foreach (var p in Model)
    {
        string redStyle;
        string blueStyle;
        var blueWinner = "";
        var redWinner = "";
        if ((RedDrawBlueGameResultEnum)p.GameResult == RedDrawBlueGameResultEnum.Red)
        {
            redWinner = "score";
            redStyle = "won";
            blueStyle = "lost";
        }
        else if ((RedDrawBlueGameResultEnum)p.GameResult == RedDrawBlueGameResultEnum.Blue)
        {
            blueStyle = "won";
            redStyle = "lost";
            blueWinner = "score";
        }
        else
        {
            blueStyle = "draw";
            redStyle = "draw";
        }
        <tr>
            <td>@p.Id</td>
            <td>@p.StartTimeStr</td>
            <td>@p.TimeSpanStr</td>
            <td class="@redWinner">@Html.ActionLink("( " + p.TeamRed.PlayerOne.Initials + " & " + p.TeamRed.PlayerTwo.Initials + " )", "Team", new { id = p.TeamRed.Id })</td>
            <td class="@blueWinner">@Html.ActionLink("( " + p.TeamBlue.PlayerOne.Initials + " & " + p.TeamBlue.PlayerTwo.Initials + " )", "Team", new { id = p.TeamBlue.Id })</td>
            <td class="score"><span class="@redStyle">@p.EndGoalsTeamRed</span> : <span class="@blueStyle">@p.EndGoalsTeamBlue</span></td>
            <td class="score">@p.GoalsTeamRed : @p.GoalsTeamBlue</td>
        </tr>
    }

</table>