@model Presentation.Web.ViewModels.MatchViewModel

@{
    
}


<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">El-Classico</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Rødt hold</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        @Html.DisplayTextFor(m => m.TeamRed.PlayerOne.Initials)
                                        -
                                        @Html.DisplayTextFor(m => m.TeamRed.PlayerOne.Name)
                                    </div>
                                    <div class="panel-body">
                                        @Html.DisplayTextFor(m => m.TeamRed.PlayerOne.Score)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        @Html.DisplayTextFor(m => m.TeamRed.PlayerTwo.Initials)
                                        -
                                        @Html.DisplayTextFor(m => m.TeamRed.PlayerTwo.Name)
                                    </div>
                                    <div class="panel-body">
                                        @Html.DisplayTextFor(m => m.TeamRed.PlayerTwo.Score)
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.TextBoxFor(m => m.EndGoalsTeamRed)
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        @Html.DisplayTextFor(m => m.ScoreTeamRed)
                        @Html.DisplayTextFor(m => m.ScoreDiff)
                        @Html.DisplayTextFor(m => m.ScoreTeamBlue)
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Blåt hold</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        @Html.DisplayTextFor(m => m.TeamBlue.PlayerOne.Initials)
                                        -
                                        @Html.DisplayTextFor(m => m.TeamBlue.PlayerOne.Name)
                                    </div>
                                    <div class="panel-body">
                                        @Html.DisplayTextFor(m => m.TeamBlue.PlayerOne.Score)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        @Html.DisplayTextFor(m => m.TeamBlue.PlayerTwo.Initials)
                                        -
                                        @Html.DisplayTextFor(m => m.TeamBlue.PlayerTwo.Name)
                                    </div>
                                    <div class="panel-body">
                                        @Html.DisplayTextFor(m => m.TeamBlue.PlayerTwo.Score)
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.TextBoxFor(m => m.EndGoalsTeamBlue)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>